@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?g44bpy');
  src:  url('fonts/icomoon.eot?g44bpy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?g44bpy') format('truetype'),
    url('fonts/icomoon.woff?g44bpy') format('woff'),
    url('fonts/icomoon.svg?g44bpy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-music:before {
  content: "\e911";
}
.icon-play:before {
  content: "\e912";
}
.icon-pacman:before {
  content: "\e916";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-mic:before {
  content: "\e91e";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location:before {
  content: "\e947";
}
.icon-database:before {
  content: "\e964";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-cog:before {
  content: "\e994";
}
.icon-bug:before {
  content: "\e999";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-airplane:before {
  content: "\e9af";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-cloud-upload:before {
  content: "\e9c3";
}
.icon-cloud-check:before {
  content: "\e9c4";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-happy:before {
  content: "\e9df";
}
.icon-play2:before {
  content: "\ea15";
}
.icon-pause:before {
  content: "\ea16";
}
.icon-stop:before {
  content: "\ea17";
}
.icon-first:before {
  content: "\ea21";
}
.icon-last:before {
  content: "\ea22";
}
.icon-next2:before {
  content: "\ea24";
}
.icon-volume-medium:before {
  content: "\ea27";
}
.icon-volume-low:before {
  content: "\ea28";
}
.icon-volume-mute:before {
  content: "\ea29";
}
.icon-volume-mute2:before {
  content: "\ea2a";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-android:before {
  content: "\eac0";
}
.icon-windows8:before {
  content: "\eac2";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-firefox:before {
  content: "\eada";
}
.icon-edge:before {
  content: "\eadc";
}
.icon-file-pdf:before {
  content: "\eadf";
}
